<% include partials/header %>




<div class="card bg-dark text-white ">
  <img class="card-img" src="https://images.unsplash.com/photo-1545039230-af7b4741b4f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80/100px270/#55595c:#373a3c/text:Card image" alt="Card image">
  <div class="card-img-overlay" >
   
    <h1 class="card-title font-weight-bold  "><font size="+20">Galeria</font></h1>
    <div>
    <big class="card-text"><font size="+3">This site is creted to bring people a bit closer to one another.</font></big>
    </div>
    <div>
    <big class="card-text"><font size="+3">Here you can share your memories with others.Post whatever you please.</font> </big>
    </div>
    <div>
    <big class="card-text"><font size="+3">Can give your views on their post.</font></big>
    </div>
    
    <div >
      <font size="+3"><a href="/feeds" class="btn btn-primary">All Feeds</a></font>
    
    </div>
  </div>
</div>




<% include partials/footer %>
