<% include ../partials/header %>

    
    
    <div class="container  w-50">
	<h1 class="font-weight-bold">Create a New feed</h1>
<form action="/feeds" method="POST" >
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/feeds">Go Back</a>
</div>
    
    
    
</div>



<% include ../partials/footer %>

